Import libraries.
Load data and initial data check

In [608]:
import matplotlib
import pandas as pd

In [609]:
#Read data files. 
#MMG - Map the Meal Gap.
mmg_2019_2022 = pd.read_csv("MMG2024_2019-2022_Data_ToShare_v3.csv")
mmg_2019_2022.head(5)

,FIPS,State,"County, State",Year,Overall Food Insecurity Rate,# of Food Insecure Persons Overall,Food Insecurity Rate among Black Persons (all ethnicities),Food Insecurity Rate among Hispanic Persons (any race),"Food Insecurity Rate among White, non-Hispanic Persons",SNAP Threshold,% FI ≤ SNAP Threshold,% FI > SNAP Threshold,Child Food Insecurity Rate,# of Food Insecure Children,% food insecure children in HH w/ HH incomes below 185 FPL,% food insecure children in HH w/ HH incomes above 185 FPL,Cost Per Meal,Weighted weekly $ needed by FI,Weighted Annual Food Budget Shortfall
0,1001,AL,"Autauga County, Alabama",2019,15.7%,"8,670",26%,NaN,12%,130%,49%,51%,19.6%,"2,590",69%,31%,$ 3.00,$ 16.88,"$ 4,439,000.00"
1,1001,AL,"Autauga County, Alabama",2020,14.5%,"8,070",25%,NaN,9%,130%,48%,52%,18.1%,"2,380",71%,29%,$ 3.22,$ 17.09,"$ 4,184,000.00"
2,1001,AL,"Autauga County, Alabama",2021,13.3%,"7,770",23%,NaN,9%,130%,48%,52%,14.5%,"2,000",68%,32%,$ 3.60,$ 20.99,"$ 4,947,000.00"
3,1001,AL,"Autauga County, Alabama",2022,15.1%,"8,860",23%,NaN,11%,130%,44%,56%,17.5%,"2,410",68%,32%,$ 4.01,$ 24.86,"$ 6,680,000.00"
4,1003,AL,"Baldwin County, Alabama",2019,13.4%,"28,590",26%,10%,11%,130%,39%,61%,14.4%,"6,680",79%,21%,$ 3.66,$ 20.63,"$ 17,895,000.00"

In [610]:
mmg_2019_2022.tail(5)

,FIPS,State,"County, State",Year,Overall Food Insecurity Rate,# of Food Insecure Persons Overall,Food Insecurity Rate among Black Persons (all ethnicities),Food Insecurity Rate among Hispanic Persons (any race),"Food Insecurity Rate among White, non-Hispanic Persons",SNAP Threshold,% FI ≤ SNAP Threshold,% FI > SNAP Threshold,Child Food Insecurity Rate,# of Food Insecure Children,% food insecure children in HH w/ HH incomes below 185 FPL,% food insecure children in HH w/ HH incomes above 185 FPL,Cost Per Meal,Weighted weekly $ needed by FI,Weighted Annual Food Budget Shortfall
12567,56043,WY,"Washakie County, Wyoming",2022,13.2%,"1,020",NaN,NaN,12%,130%,41%,59%,17.1%,290,0.96,0.04,$ 4.15,$ 25.75,"$ 797,000.00"
12568,56045,WY,"Weston County, Wyoming",2019,12.2%,860,NaN,NaN,12%,130%,48%,52%,16.6%,250,0.62,0.38,$ 3.21,$ 18.07,"$ 471,000.00"
12569,56045,WY,"Weston County, Wyoming",2020,11.0%,760,NaN,NaN,10%,130%,49%,51%,13.4%,180,0.5,0.5,$ 3.37,$ 17.90,"$ 413,000.00"
12570,56045,WY,"Weston County, Wyoming",2021,10.2%,710,NaN,NaN,10%,130%,47%,53%,9.2%,130,0.49,0.51,$ 3.73,$ 21.74,"$ 468,000.00"
12571,56045,WY,"Weston County, Wyoming",2022,13.6%,940,NaN,NaN,12%,130%,38%,62%,15.4%,220,0.47,0.53,$ 4.13,$ 25.57,"$ 729,000.00"

In [611]:
print(mmg_2019_2022.shape)

(12572, 19)

Rename columns to have shorter or more descriptive names. I am Using the following acronyms: FIR = Food insecurity rate and FI = Food insecure with

In [612]:
mmg_2019_2022.columns = mmg_2019_2022.columns.str.strip()
print(mmg_2019_2022.columns)

Index(['FIPS', 'State', 'County, State', 'Year',
       'Overall Food Insecurity Rate', '# of Food Insecure Persons Overall',
       'Food Insecurity Rate among Black Persons (all ethnicities)',
       'Food Insecurity Rate among Hispanic Persons (any race)',
       'Food Insecurity Rate among White, non-Hispanic Persons',
       'SNAP Threshold', '% FI ≤ SNAP Threshold', '% FI > SNAP Threshold',
       'Child Food Insecurity Rate', '# of Food Insecure Children',
       '% food insecure children in HH w/ HH incomes below 185 FPL',
       '% food insecure children in HH w/ HH incomes above 185 FPL',
       'Cost Per Meal', 'Weighted weekly $ needed by FI',
       'Weighted Annual Food Budget Shortfall'],
      dtype='object')

In [613]:

mmg_2019_2022 = mmg_2019_2022.rename(columns={'County, State': 'COUNTY', 'Overall Food Insecurity Rate' :'FIR', '# of Food Insecure Persons Overall' :'FI_PERSONS'})
mmg_2019_2022 = mmg_2019_2022.rename(columns={'Food Insecurity Rate among Black Persons (all ethnicities)' : 'FIR_BLACK'})
mmg_2019_2022 = mmg_2019_2022.rename(columns={'Food Insecurity Rate among Hispanic Persons (any race)' :'FIR_HISPANIC'})
mmg_2019_2022 = mmg_2019_2022.rename(columns={'Food Insecurity Rate among White, non-Hispanic Persons': 'FIR_WHITE'})
mmg_2019_2022 = mmg_2019_2022.rename(columns={'SNAP Threshold': 'SNAP_THRESHOLD','% FI ≤ SNAP Threshold' :  'PER_FI_SNAP_ELIG', '% FI > SNAP Threshold' :  'PER_FI_NOT_SNAP_ELIG'})
mmg_2019_2022 = mmg_2019_2022.rename(columns={'Child Food Insecurity Rate' : 'FIR_CHILDREN', '# of Food Insecure Children': 'FI_CHILDREN'})
mmg_2019_2022 = mmg_2019_2022.rename(columns={'% food insecure children in HH w/ HH incomes below 185 FPL':'PER_FI_CHILDREN_WIC_ELIG'})
mmg_2019_2022 = mmg_2019_2022.rename(columns={'% food insecure children in HH w/ HH incomes above 185 FPL':'PER_FI_CHILDREN_NOT_WIC_ELIG'})
mmg_2019_2022 = mmg_2019_2022.rename(columns={'Cost Per Meal': 'COST_PER_MEAL_NON_FI', 'Weighted weekly $ needed by FI' : 'WEEKLY_MEAL_COST_F1'})
mmg_2019_2022 = mmg_2019_2022.rename(columns={'Weighted Annual Food Budget Shortfall' : 'ANNUAL_FOOD_BUDGET_SHORTFALL'})

In [614]:
print(mmg_2019_2022.columns)

Index(['FIPS', 'State', 'COUNTY', 'Year', 'FIR', 'FI_PERSONS', 'FIR_BLACK',
       'FIR_HISPANIC', 'FIR_WHITE', 'SNAP_THRESHOLD', 'PER_FI_SNAP_ELIG',
       'PER_FI_NOT_SNAP_ELIG', 'FIR_CHILDREN', 'FI_CHILDREN',
       'PER_FI_CHILDREN_WIC_ELIG', 'PER_FI_CHILDREN_NOT_WIC_ELIG',
       'COST_PER_MEAL_NON_FI', 'WEEKLY_MEAL_COST_F1',
       'ANNUAL_FOOD_BUDGET_SHORTFALL'],
      dtype='object')

In [615]:
#Check for null values
mmg_2019_2022.isnull().sum()

FIPS                               0
State                              0
COUNTY                             0
Year                               0
FIR                                0
FI_PERSONS                         0
FIR_BLACK                       6605
FIR_HISPANIC                    5448
FIR_WHITE                        213
SNAP_THRESHOLD                     0
PER_FI_SNAP_ELIG                   0
PER_FI_NOT_SNAP_ELIG               0
FIR_CHILDREN                       0
FI_CHILDREN                        0
PER_FI_CHILDREN_WIC_ELIG           8
PER_FI_CHILDREN_NOT_WIC_ELIG       8
COST_PER_MEAL_NON_FI               0
WEEKLY_MEAL_COST_F1                0
ANNUAL_FOOD_BUDGET_SHORTFALL       0
dtype: int64

In [616]:
#Per data % 'Any estimated food insecurity rates of 0% should not be interpreted literally (e.g., 0% among white, non-Hispanic persons in the District of Columbia in 2020'
#Therefore, I will replace NAN values with -1
mmg_2019_2022 = mmg_2019_2022.fillna(-1)
mmg_2019_2022.isnull().sum()

FIPS                            0
State                           0
COUNTY                          0
Year                            0
FIR                             0
FI_PERSONS                      0
FIR_BLACK                       0
FIR_HISPANIC                    0
FIR_WHITE                       0
SNAP_THRESHOLD                  0
PER_FI_SNAP_ELIG                0
PER_FI_NOT_SNAP_ELIG            0
FIR_CHILDREN                    0
FI_CHILDREN                     0
PER_FI_CHILDREN_WIC_ELIG        0
PER_FI_CHILDREN_NOT_WIC_ELIG    0
COST_PER_MEAL_NON_FI            0
WEEKLY_MEAL_COST_F1             0
ANNUAL_FOOD_BUDGET_SHORTFALL    0
dtype: int64

In [617]:
mmg_2019_2022.dtypes

FIPS                             int64
State                           object
COUNTY                          object
Year                             int64
FIR                             object
FI_PERSONS                      object
FIR_BLACK                       object
FIR_HISPANIC                    object
FIR_WHITE                       object
SNAP_THRESHOLD                  object
PER_FI_SNAP_ELIG                object
PER_FI_NOT_SNAP_ELIG            object
FIR_CHILDREN                    object
FI_CHILDREN                     object
PER_FI_CHILDREN_WIC_ELIG        object
PER_FI_CHILDREN_NOT_WIC_ELIG    object
COST_PER_MEAL_NON_FI            object
WEEKLY_MEAL_COST_F1             object
ANNUAL_FOOD_BUDGET_SHORTFALL    object
dtype: object

In [618]:
#drop column that I will  not use
mmg_2019_2022.drop(columns=['FIPS','SNAP_THRESHOLD', 'PER_FI_SNAP_ELIG', 'PER_FI_NOT_SNAP_ELIG','PER_FI_CHILDREN_NOT_WIC_ELIG' ], inplace=True)
print(mmg_2019_2022.columns)

Index(['State', 'COUNTY', 'Year', 'FIR', 'FI_PERSONS', 'FIR_BLACK',
       'FIR_HISPANIC', 'FIR_WHITE', 'FIR_CHILDREN', 'FI_CHILDREN',
       'PER_FI_CHILDREN_WIC_ELIG', 'COST_PER_MEAL_NON_FI',
       'WEEKLY_MEAL_COST_F1', 'ANNUAL_FOOD_BUDGET_SHORTFALL'],
      dtype='object')

In [619]:
# Change fields containg number to float, ecept those containg counts of people (those I will chnage to integers)
#Cnange county to string

mmg_2019_2022['COUNTY'] = mmg_2019_2022['COUNTY'].astype('string')
mmg_2019_2022['FIR'] = mmg_2019_2022['FIR'].str.replace('%', '').astype(float) / 100
mmg_2019_2022['FI_PERSONS'] = mmg_2019_2022['FI_PERSONS'].str.replace(',', '').astype(int)
mmg_2019_2022['FIR_BLACK'] = mmg_2019_2022['FIR_BLACK'].str.replace('%', '').astype(float) / 100
mmg_2019_2022['FIR_HISPANIC'] = mmg_2019_2022['FIR_HISPANIC'].str.replace('%', '').astype(float) / 100
mmg_2019_2022['FIR_WHITE'] = mmg_2019_2022['FIR_WHITE'].str.replace('%', '').astype(float) / 100
mmg_2019_2022['FIR_CHILDREN'] = mmg_2019_2022['FIR_CHILDREN'].str.replace('%', '').astype(float) / 100
mmg_2019_2022['COST_PER_MEAL_NON_FI'] = mmg_2019_2022['COST_PER_MEAL_NON_FI'].str.replace('$', '').astype(float) / 100
mmg_2019_2022['WEEKLY_MEAL_COST_F1'] = mmg_2019_2022['WEEKLY_MEAL_COST_F1'].str.replace('$', '').astype(float) / 100
#mmg_2019_2022['ANNUAL_FOOD_BUDGET_SHORTFALL'] = mmg_2019_2022['ANNUAL_FOOD_BUDGET_SHORTFALL'].str.replace('$', '').replace(',', '').strip.astype(float) / 100
mmg_2019_2022['ANNUAL_FOOD_BUDGET_SHORTFALL'] = pd.to_numeric(mmg_2019_2022['ANNUAL_FOOD_BUDGET_SHORTFALL'].str.replace(r'[\$,%]', '', regex=True))
mmg_2019_2022['FI_CHILDREN'] = mmg_2019_2022['FI_CHILDREN'].str.replace(',', '').str.replace('%', '').str.replace('-', '0').astype(int)
mmg_2019_2022.dtypes

State                                   object
COUNTY                          string[python]
Year                                     int64
FIR                                    float64
FI_PERSONS                               int64
FIR_BLACK                              float64
FIR_HISPANIC                           float64
FIR_WHITE                              float64
FIR_CHILDREN                           float64
FI_CHILDREN                              int64
PER_FI_CHILDREN_WIC_ELIG                object
COST_PER_MEAL_NON_FI                   float64
WEEKLY_MEAL_COST_F1                    float64
ANNUAL_FOOD_BUDGET_SHORTFALL           float64
dtype: object

In [620]:
#identify count of records by state
mmg_2019_2022.value_counts("State")

State
TX    1016
GA     636
VA     532
KY     480
MO     460
KS     420
IL     408
NC     400
IA     396
TN     380
NE     372
IN     368
OH     352
MN     348
MI     332
MS     328
OK     308
AR     300
WI     288
PA     268
FL     268
AL     268
SD     264
CO     256
LA     256
NY     248
CA     232
MT     224
WV     220
ND     212
SC     184
ID     176
WA     156
OR     144
NM     132
AK     119
UT     116
MD      96
WY      92
NJ      84
NV      68
ME      64
AZ      60
VT      56
MA      56
NH      40
CT      33
HI      20
RI      20
DE      12
DC       4
Name: count, dtype: int64

In [621]:
#Reduce data set to desired records by converting the 'State' field to string and selecting records with state = 'KY"
mmg_2019_2022 = mmg_2019_2022.loc[mmg_2019_2022.State == 'KY']
mmg_2019_2022.head(2)

,State,COUNTY,Year,FIR,FI_PERSONS,FIR_BLACK,FIR_HISPANIC,FIR_WHITE,FIR_CHILDREN,FI_CHILDREN,PER_FI_CHILDREN_WIC_ELIG,COST_PER_MEAL_NON_FI,WEEKLY_MEAL_COST_F1,ANNUAL_FOOD_BUDGET_SHORTFALL
3976,KY,"Adair County, Kentucky",2019,0.167,3210,0.20,NaN,0.16,0.211,790,0.78,0.0278,0.1569,1527000.0
3977,KY,"Adair County, Kentucky",2020,0.152,2950,0.17,NaN,0.14,0.182,690,0.79,0.0279,0.1483,1327000.0

In [622]:
mmg_2019_2022.tail(2)

,State,COUNTY,Year,FIR,FI_PERSONS,FIR_BLACK,FIR_HISPANIC,FIR_WHITE,FIR_CHILDREN,FI_CHILDREN,PER_FI_CHILDREN_WIC_ELIG,COST_PER_MEAL_NON_FI,WEEKLY_MEAL_COST_F1,ANNUAL_FOOD_BUDGET_SHORTFALL
4454,KY,"Woodford County, Kentucky",2021,0.080,2150,0.12,NaN,0.09,0.078,460,0.61,0.0358,0.2083,1358000.0
4455,KY,"Woodford County, Kentucky",2022,0.117,3150,0.12,NaN,0.11,0.141,830,0.57,0.0403,0.2495,2384000.0

In [623]:
#verify that it has 480 and drop state fiekds
print(mmg_2019_2022.shape)
mmg_2019_2022.drop(columns='State', inplace=True)

(480, 14)

In [624]:
#Check for null values
mmg_2019_2022.isnull().sum()

COUNTY                            0
Year                              0
FIR                               0
FI_PERSONS                        0
FIR_BLACK                       310
FIR_HISPANIC                    358
FIR_WHITE                         0
FIR_CHILDREN                      0
FI_CHILDREN                       0
PER_FI_CHILDREN_WIC_ELIG          0
COST_PER_MEAL_NON_FI              0
WEEKLY_MEAL_COST_F1               0
ANNUAL_FOOD_BUDGET_SHORTFALL      0
dtype: int64

In [625]:
#Per data % 'Any estimated food insecurity rates of 0% should not be interpreted literally (e.g., 0% among white, non-Hispanic persons in the District of Columbia in 2020'
#Therefore, I will replace NAN values with -1
mmg_2019_2022 = mmg_2019_2022.fillna(-1)
mmg_2019_2022.isnull().sum()

COUNTY                          0
Year                            0
FIR                             0
FI_PERSONS                      0
FIR_BLACK                       0
FIR_HISPANIC                    0
FIR_WHITE                       0
FIR_CHILDREN                    0
FI_CHILDREN                     0
PER_FI_CHILDREN_WIC_ELIG        0
COST_PER_MEAL_NON_FI            0
WEEKLY_MEAL_COST_F1             0
ANNUAL_FOOD_BUDGET_SHORTFALL    0
dtype: int64

In [626]:
mmg_2019_2022.tail(2)

,COUNTY,Year,FIR,FI_PERSONS,FIR_BLACK,FIR_HISPANIC,FIR_WHITE,FIR_CHILDREN,FI_CHILDREN,PER_FI_CHILDREN_WIC_ELIG,COST_PER_MEAL_NON_FI,WEEKLY_MEAL_COST_F1,ANNUAL_FOOD_BUDGET_SHORTFALL
4454,"Woodford County, Kentucky",2021,0.080,2150,0.12,-1.0,0.09,0.078,460,0.61,0.0358,0.2083,1358000.0
4455,"Woodford County, Kentucky",2022,0.117,3150,0.12,-1.0,0.11,0.141,830,0.57,0.0403,0.2495,2384000.0

In [630]:
#Add total population based on FIR and FI_PERSON 
mmg_2019_2022['TOTAL_POP_IN_100'] = mmg_2019_2022['FI_PERSONS']  /  mmg_2019_2022['FIR']
mmmg_2019_2022.tail(2)

,COUNTY,Year,FIR,FI_PERSONS,FIR_BLACK,FIR_HISPANIC,FIR_WHITE,FIR_CHILDREN,FI_CHILDREN,PER_FI_CHILDREN_WIC_ELIG,COST_PER_MEAL_NON_FI,WEEKLY_MEAL_COST_F1,ANNUAL_FOOD_BUDGET_SHORTFALL,TOTAL_POP_IN_100
4454,"Woodford County, Kentucky",2021,0.080,2150,0.12,-1.0,0.09,0.078,460,0.61,0.0358,0.2083,1358000.0,26875.000000
4455,"Woodford County, Kentucky",2022,0.117,3150,0.12,-1.0,0.11,0.141,830,0.57,0.0403,0.2495,2384000.0,26923.076923

In [628]:
mmg_2019_2022.describe

<bound method NDFrame.describe of                          COUNTY  Year    FIR  FI_PERSONS  FIR_BLACK  \
3976     Adair County, Kentucky  2019  0.167        3210       0.20
3977     Adair County, Kentucky  2020  0.152        2950       0.17
3978     Adair County, Kentucky  2021  0.137        2590      -1.00
3979     Adair County, Kentucky  2022  0.180        3400      -1.00
3980     Allen County, Kentucky  2019  0.152        3180      -1.00
...                         ...   ...    ...         ...        ...
4451     Wolfe County, Kentucky  2022  0.273        1800      -1.00
4452  Woodford County, Kentucky  2019  0.112        2960       0.16
4453  Woodford County, Kentucky  2020  0.099        2620       0.18
4454  Woodford County, Kentucky  2021  0.080        2150       0.12
4455  Woodford County, Kentucky  2022  0.117        3150       0.12

      FIR_HISPANIC  FIR_WHITE  FIR_CHILDREN  FI_CHILDREN  \
3976          -1.0       0.16         0.211          790
3977          -1.0       0.14         0.182          690
3978          -1.0       0.14         0.157          600
3979          -1.0       0.17         0.248          950
3980          -1.0       0.16         0.197          980
...            ...        ...           ...          ...
4451          -1.0       0.29         0.333          500
4452          -1.0       0.12         0.146          860
4453          -1.0       0.10         0.122          720
4454          -1.0       0.09         0.078          460
4455          -1.0       0.11         0.141          830

     PER_FI_CHILDREN_WIC_ELIG  COST_PER_MEAL_NON_FI  WEEKLY_MEAL_COST_F1  \
3976                     0.78                0.0278               0.1569
3977                     0.79                0.0279               0.1483
3978                     0.82                0.0304               0.1769
3979                     0.82                0.0340               0.2107
3980                     0.83                0.0313               0.1762
...                       ...                   ...                  ...
4451                        1                0.0354               0.2197
4452                     0.65                0.0329               0.1853
4453                     0.74                0.0332               0.1762
4454                     0.61                0.0358               0.2083
4455                     0.57                0.0403               0.2495

      ANNUAL_FOOD_BUDGET_SHORTFALL  TOTAL_POP_IN_100
3976                     1527000.0      19221.556886
3977                     1327000.0      19407.894737
3978                     1390000.0      18905.109489
3979                     2173000.0      18888.888889
3980                     1699000.0      20921.052632
...                            ...               ...
4451                     1199000.0       6593.406593
4452                     1664000.0      26428.571429
4453                     1400000.0      26464.646465
4454                     1358000.0      26875.000000
4455                     2384000.0      26923.076923

[480 rows x 14 columns]>

In [631]:
print(mmg_2019_2022.describe(include='all'))
#Per the below statistics (average) it seems that that hispanic experience grearter food insecurity

                        COUNTY       Year         FIR     FI_PERSONS  \
count                      480   480.0000  480.000000     480.000000
unique                     120        NaN         NaN            NaN
top     Adair County, Kentucky        NaN         NaN            NaN
freq                         4        NaN         NaN            NaN
mean                       NaN  2020.5000    0.159575    5165.104167
std                        NaN     1.1192    0.039305    9030.080998
min                        NaN  2019.0000    0.050000     300.000000
25%                        NaN  2019.7500    0.133000    1927.500000
50%                        NaN  2020.5000    0.156000    3050.000000
75%                        NaN  2021.2500    0.183250    5352.500000
max                        NaN  2022.0000    0.273000  101980.000000

         FIR_BLACK  FIR_HISPANIC   FIR_WHITE  FIR_CHILDREN   FI_CHILDREN  \
count   480.000000    480.000000  480.000000    480.000000    480.000000
unique         NaN           NaN         NaN           NaN           NaN
top            NaN           NaN         NaN           NaN           NaN
freq           NaN           NaN         NaN           NaN           NaN
mean     -0.569146     -0.697542    0.152208      0.197427   1483.750000
std       0.583770      0.519244    0.036975      0.056632   3028.677357
min      -1.000000     -1.000000    0.050000      0.025000     60.000000
25%      -1.000000     -1.000000    0.130000      0.157750    520.000000
50%      -1.000000     -1.000000    0.150000      0.194000    820.000000
75%       0.180000      0.092500    0.170000      0.232000   1460.000000
max       0.410000      0.440000    0.290000      0.358000  37770.000000

       PER_FI_CHILDREN_WIC_ELIG  COST_PER_MEAL_NON_FI  WEEKLY_MEAL_COST_F1  \
count                       480            480.000000           480.000000
unique                       52                   NaN                  NaN
top                        0.76                   NaN                  NaN
freq                         25                   NaN                  NaN
mean                        NaN              0.031467             0.181559
std                         NaN              0.003455             0.028996
min                         NaN              0.024700             0.135000
25%                         NaN              0.028600             0.156650
50%                         NaN              0.030850             0.175650
75%                         NaN              0.034000             0.207075
max                         NaN              0.041000             0.254400

        ANNUAL_FOOD_BUDGET_SHORTFALL  TOTAL_POP_IN_100
count                   4.800000e+02        480.000000
unique                           NaN               NaN
top                              NaN               NaN
freq                             NaN               NaN
mean                    2.942975e+06      37291.517229
std                     5.653074e+06      77780.015520
min                     1.660000e+05       2134.831461
25%                     1.013000e+06      12174.338320
50%                     1.653500e+06      19245.014245
75%                     3.035750e+06      35860.895505
max                     7.700100e+07     778473.282443

In [647]:
pd.set_option('display.max_rows', None)  
print(mmg_2019_2022.groupby('COUNTY')['FIR'].mean())

COUNTY
Adair County, Kentucky           0.15900
Allen County, Kentucky           0.14375
Anderson County, Kentucky        0.13025
Ballard County, Kentucky         0.13300
Barren County, Kentucky          0.17425
Bath County, Kentucky            0.18125
Bell County, Kentucky            0.22100
Boone County, Kentucky           0.08500
Bourbon County, Kentucky         0.13375
Boyd County, Kentucky            0.16575
Boyle County, Kentucky           0.13400
Bracken County, Kentucky         0.14275
Breathitt County, Kentucky       0.24150
Breckinridge County, Kentucky    0.15675
Bullitt County, Kentucky         0.10925
Butler County, Kentucky          0.15625
Caldwell County, Kentucky        0.15500
Calloway County, Kentucky        0.14750
Campbell County, Kentucky        0.11225
Carlisle County, Kentucky        0.13325
Carroll County, Kentucky         0.15825
Carter County, Kentucky          0.19500
Casey County, Kentucky           0.17275
Christian County, Kentucky       0.15325
Clark County, Kentucky           0.13750
Clay County, Kentucky            0.23375
Clinton County, Kentucky         0.17275
Crittenden County, Kentucky      0.14925
Cumberland County, Kentucky      0.16250
Daviess County, Kentucky         0.13200
Edmonson County, Kentucky        0.16050
Elliott County, Kentucky         0.21375
Estill County, Kentucky          0.20375
Fayette County, Kentucky         0.11700
Fleming County, Kentucky         0.16200
Floyd County, Kentucky           0.21450
Franklin County, Kentucky        0.12575
Fulton County, Kentucky          0.17750
Gallatin County, Kentucky        0.13400
Garrard County, Kentucky         0.12650
Grant County, Kentucky           0.13100
Graves County, Kentucky          0.14850
Grayson County, Kentucky         0.17400
Green County, Kentucky           0.17425
Greenup County, Kentucky         0.15175
Hancock County, Kentucky         0.12425
Hardin County, Kentucky          0.12200
Harlan County, Kentucky          0.24775
Harrison County, Kentucky        0.14125
Hart County, Kentucky            0.16300
Henderson County, Kentucky       0.15375
Henry County, Kentucky           0.14250
Hickman County, Kentucky         0.14500
Hopkins County, Kentucky         0.16125
Jackson County, Kentucky         0.20950
Jefferson County, Kentucky       0.11575
Jessamine County, Kentucky       0.12250
Johnson County, Kentucky         0.19000
Kenton County, Kentucky          0.11325
Knott County, Kentucky           0.22125
Knox County, Kentucky            0.21450
Larue County, Kentucky           0.14525
Laurel County, Kentucky          0.16525
Lawrence County, Kentucky        0.19525
Lee County, Kentucky             0.22375
Leslie County, Kentucky          0.23600
Letcher County, Kentucky         0.22925
Lewis County, Kentucky           0.19675
Lincoln County, Kentucky         0.15275
Livingston County, Kentucky      0.15775
Logan County, Kentucky           0.13450
Lyon County, Kentucky            0.14775
Madison County, Kentucky         0.13650
Magoffin County, Kentucky        0.24825
Marion County, Kentucky          0.16175
Marshall County, Kentucky        0.12050
Martin County, Kentucky          0.19700
Mason County, Kentucky           0.15050
McCracken County, Kentucky       0.13175
McCreary County, Kentucky        0.20900
McLean County, Kentucky          0.12575
Meade County, Kentucky           0.13125
Menifee County, Kentucky         0.19125
Mercer County, Kentucky          0.12575
Metcalfe County, Kentucky        0.17050
Monroe County, Kentucky          0.17275
Montgomery County, Kentucky      0.15925
Morgan County, Kentucky          0.17775
Muhlenberg County, Kentucky      0.15225
Nelson County, Kentucky          0.10600
Nicholas County, Kentucky        0.17300
Ohio County, Kentucky            0.14200
Oldham County, Kentucky          0.06375
Owen County, Kentucky            0.13725
Owsley County, Kentucky          0.23025
Pendleton County, Kentucky       0.14375
Perry County, Kentucky           0.19575
Pike County, Kentucky            0.19725
Powell County, Kentucky          0.17475
Pulaski County, Kentucky         0.16900
Robertson County, Kentucky       0.16600
Rockcastle County, Kentucky      0.17125
Rowan County, Kentucky           0.17650
Russell County, Kentucky         0.17350
Scott County, Kentucky           0.10350
Shelby County, Kentucky          0.09775
Simpson County, Kentucky         0.12325
Spencer County, Kentucky         0.09275
Taylor County, Kentucky          0.14925
Todd County, Kentucky            0.14425
Trigg County, Kentucky           0.14525
Trimble County, Kentucky         0.14400
Union County, Kentucky           0.15725
Warren County, Kentucky          0.13125
Washington County, Kentucky      0.12775
Wayne County, Kentucky           0.17750
Webster County, Kentucky         0.16775
Whitley County, Kentucky         0.17975
Wolfe County, Kentucky           0.25500
Woodford County, Kentucky        0.10200
Name: FIR, dtype: float64